.navbar {
    background-color: #fff7f1;
}

.navbar-brand {
    color: #6782ab !important;
    font-weight: 700;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #6782ab;
    color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
    padding-top: 50px;
}

.mobile-menu.show {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: transparent;
    border: none;
    color: white;
}

/* Navbar Item Styles */
.navbar-nav .nav-item .nav-link {
    padding: 15px;
    color: #6782ab;
    font-size: 20px;
}

.nav-link:hover {
    font-weight: 700;
}
.nav-mobile-link {
    color: #fff7f1;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
.navbar-nav .nav-item {
    color: #fff7f1;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230%22%20height%3D%2230%22%3E%3Crect%20x%3D%224%22%20y%3D%226%22%20width%3D%2222%22%20height%3D%223%22%20fill%3D%22%234C6EA2%22%20%2F%3E%3Crect%20x%3D%224%22%20y%3D%2213%22%20width%3D%2222%22%20height%3D%223%22%20fill%3D%22%234C6EA2%22%20%2F%3E%3Crect%20x%3D%224%22%20y%3D%2220%22%20width%3D%2222%22%20height%3D%223%22%20fill%3D%22%234C6EA2%22%20%2F%3E%3C%2Fsvg%3E');
  }
  

@media (min-width: 992px) {
    .navbar-nav {
        display: flex; /* Layout items horizontally */
        justify-content: flex-end;
    }

    .navbar-nav .nav-item {
        margin-left: 20px;
    }

    .mobile-menu {
        display: none; /* Hide mobile menu on desktop */
    }
}

@media (max-width: 992px) {
    .navbar-nav .nav-item {
        padding: 20px;
    }
}

